@import "overrided-bootstrap";
@import "_allborders";
@mixin buttons{
    display: inline-block;
    background: #ff0;
    padding: $padding-small-horizontal;
    vertical-align: top;
}

.links{
    @include buttons;
}


.navbar-brand{
    overflow: hidden;
    display: inline-block;
    width: 100px;
    height: 85px;
    margin: 7px 0 0;
    background: url(../images/logo.png) no-repeat center 0;
    background-size: auto 100%;
    text-indent: -9000%
}

button.navbar-toggle{
    background: lightblue;
    box-sizing: content-box;
    &:before,
    &:after{
        content:"";
        display: block;
        width: 30px;
        height: 4px;
        margin-bottom: 4px;
        border: 4px solid #00f080;
        border-width: 4px 0;
        box-sizing: content-box;
    }
    &:before{
        border-bottom: 0;
        height: 0px;
        border-bottom: 0;
    }
}

.navbar-nav{
    padding: $padding-base-horizontal $padding-base-horizontal;
}

article{
    h2.head2{
        color: #ff0080;
        margin-top: 10px;
        margin-bottom: 10px;
        text-align: center;
        text-decoration: underline;
    }
    img{
        width: 200px;
        margin: 0 20px 20px 0;
    }
}

.container-fluid{
    .index-aside{
        width: 100px;
    }
    li{
        list-style: none;
        margin: 3px;
    }
}

h3.head3{
    @extend h2.head2;
    color: #ff80c0 !important; 
}